body {
    margin: 0;
    padding: 0;
}

.background {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-image: url(/image/image\ 18.png);
    background-size: cover;           
    background-position: center;      
    background-repeat: no-repeat;
}

/* 1) Position & basic flex layout */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 10;
  }
  

  .logo img {
    height: 10vw; 
    width: auto;
    display: block;
  }
  
  .nav-container {
    display: flex;
    gap: 2rem;
    padding: 1rem 3rem;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .nav-container a {
    color: white;
    text-decoration: none;
    font-size: medium;
    font-family: 'Inter';
  }

  .special {
    background-color: black;             
    border-radius: 0.7rem;
    padding: 0.7rem;
  }


h1 {
    color: black;
    font-size: 105px;
    font-family: 'Inter';
    display: grid;
    
}




