body {
    margin: 0;
    padding: 0;
}


/* 1) Position & basic flex layout */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 10;
  }
  

  .logo img {
    height: 10vw; 
    width: auto;
    display: block;
  }
  
  .nav-container {
    display: flex;
    gap: 2rem;
    padding: 1rem 3rem;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .nav-container a {
    color: white;
    text-decoration: none;
    font-size: medium;
    font-family: 'Inter';
  }

  .special {
    background-color: black;             
    border-radius: 0.7rem;
    padding: 0.7rem;
  }


h1 {
    color: black;
    font-size: 105px;
    font-family: 'Inter';
    display: grid;
    
}




